extends layout.pug

block content
  div.main
    div.main__left_col
    div.main__center_col
      div.answer_container
        h1.question_title= question.title
        hr.solid
        h2.question_message= answer.message
      if locals.authenticated
          form(action='/comments' method='post')
            input(name="_csrf" type="hidden" value=csrfToken)
            input(name="answerId" type="hidden" value=answer.id)
            input(name="userId" type="hidden" value=userId)
            label(for="commentMessage")
            textarea.form__input_field(name="commentMessage" placeholder="Respond with comment here." required)
            button(class='form__submit_button' id='edit-comment-submit') Submit
      div
        each comment in comments
          div(id=`comment-trash-container-${comment.id}`)
            div.comment_container
              div.title_container
                h3(class="comment_title" id=`comment-${comment.id}-title`)= comment.message
                form(action=`/comments/${comment.id}/edit` method='post' class='hidden-edit-form edit_comment' id=`edit-comment-${comment.id}-form`)
                  input(name="_csrf" type="hidden" value=csrfToken)
                  label(for="editTextArea")
                  textarea(name=`editTextarea` id=`edit-comment-textarea-${comment.id}` placeholder=`${comment.message}`)= comment.message  
                  button.form__submit_button(type="submit") Submit Edit
                if comment.userId === userId
                  button(id=comment.id class="commentTrash trash") 🗑️
                  button(id=comment.id class="commentEdit edit") edit
              div.answer_footer
                div
                h2.answer_username= comment.User.username


    div.main__right_col
