extends layout.pug

block content
  h1= question.title
  h2= answer.message
  each comment in comments
    h3= comment.message
  if locals.authenticated  
    form(action='/comments' method='post')
      input(name="_csrf" type="hidden" value=csrfToken)
      input(name="answerId" type="hidden" value=answer.id)
      input(name="userId" type="hidden" value=answer.userId)
      label(for="commentMessage")
      textarea(name="commentMessage" placeholder="Respond with comment here")
      button(type="submit") Submit
