extends layout.pug

block content
  div.main
    div.main__left_col
    div.main__center_col
      div.answer_box
        h1.question_title= question.title
        hr.solid
        h2.question_message= answer.message
      if locals.authenticated
          form(action='/comments' method='post')
            input(name="_csrf" type="hidden" value=csrfToken)
            input(name="answerId" type="hidden" value=answer.id)
            input(name="userId" type="hidden" value=userId)
            label(for="commentMessage")
            textarea.form__input_field(name="commentMessage" placeholder="Respond with comment here" required)
            button.form__submit_button(type="submit") Submit
      div
      each comment in comments
        div(id=`comment-trash-container-${comment.id}`)
          div.answer_box
            div.title_container.spacing
              h3= comment.message
            if comment.userId === userId
              h3(id=comment.id class="commentTrash trash") 🗑️

    div.main__right_col
