extends layout.pug

include utils.pug

block content
  div.main
    div.main__left_col
    div.main__center_col
      div.question_box#question_view
        h3.question_title= question.title
        hr.solid
        h2.question_message= question.message
          div.question_footer
            if question.expertiseId === 1
              div.question_expertise_label
                h2.question_expertise__nov
                h2 Novice
            if question.expertiseId === 2
              div.question_expertise_label
                h2.question_expertise__int
                h2 Intermediate
            if question.expertiseId === 3
              div.question_expertise_label
                h2.question_expertise__exp
                h2 Expert
            h2.question_username= question.User.username
      if locals.authenticated
        form(action="/answers" method="post")
          input(name="userId" type="hidden" value=userId)
          input(name="questionId" type="hidden" value=question.id)
          input(name="_csrf" type="hidden" value=csrfToken)
          label(for="message")
          textarea.form__input_field(name="message" type="text" placeholder="Answer question here" required)
          button.form__submit_button(type="submit") Submit
      div.answer_box
        each answer in answers
          div(id=`answer-trash-container-${answer.id}`)
            h2.answer_title= answer.message
              if answer.userId === userId
                h3(id=answer.id class="answerTrash") 🗑️
            div.answer_footer
              a.view_comments_link(href=`/answers/${answer.id}`) View Comments
              h2.answer_username= answer.User.username
            hr.solid
              
    div.main__right_col
