extends layout.pug
append head
    link(rel='stylesheet' href='/stylesheets/topics.css')
    script(src="/javascripts/sort.js" type="text/javascript" defer)

block content
    if results.length > 0
        select#topicSelect(name="topicId" class="form__dropdown" onchange="filterText('topicSelect')")
            option(value="" disabled selected hidden) Topic
            option(value="All") All
            each topic in topics
                option(value=topic.id class="form__dropdown--option")=topic.name

        select#expertiseSelect(name="expertiseId" class="form__dropdown" onchange="filterText('expertiseSelect')")
            option(value="" disabled selected hidden) Expertise Level
            option(value="All") All
            each expertise in expertises
                option(value=expertise.description class="form__dropdown--option")=expertise.description

        each result in results
            div(class= `${result.Topic.id} ${result.Expertise.description} result`)
                h1= result.title
                h2= result.message
                h3= result.Topic.name
                h3= result.Expertise.description
    else
        div
            h1 There are no results for this search term. Ask a question <a id="search_result_link" href="/questions/new">here</a>.
