
mixin question({ User: { username }, title, message, id })
    div.question_box
        h3.question_title= title
        h2.question_username= username
        h3.question_message= message
        if locals.authenticated
          a.question_answer(href=`/questions/${id}`) answer

mixin validationErrorSummary(errors)
  if errors
    div(class='errors-alert' role='alert')
      p The following error(s) occurred:
      ul
        each error in errors
          li= error

