
mixin question({ User: { username }, title, message, id,  expertiseId, createdAt })
    div
     a(href=`/questions/${id}`).question_box
      h3.question_title= title

      h2.question_username= username
      hr.solid
      h2.question_message= message


        div.question_footer
          h2.question_date= createdAt
          if expertiseId === 1
            h2.question_expertise__nov
          if expertiseId === 2
            h2.question_expertise__int
          if expertiseId === 3
            h2.question_expertise__exp


          //- if locals.authenticated
          //-   a.question_answer(href=`/questions/${id}`) answer

mixin validationErrorSummary(errors)
  if errors
    div(class='errors-alert' role='alert')
      p The following error(s) occurred:
      ul
        each error in errors
          li= error
