extends layout.pug
block content
  h1= question.title
  h2= question.message
  //- h3= question.User.username
  form(action="/answers" method="post")
    input(name="userId" type="hidden" value=question.userId)
    input(name="questionId" type="hidden" value=question.id)
    input(name="_csrf" type="hidden" value=csrfToken)
    label(for="message")
    textarea(name="message" type="text" placeholder="Answer question here")
    button(type="submit") Submit
  div
    each answer in answers
        a(href=`/answers/${answer.id}`)= answer.message
